
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Don dat hang da duoc xac nhan</h2>
<h3>Chung toi se giao cho ban som nhat co the</h3>
<p>
    @Html.ActionLink("Ve trang chu","Index","Home")
</p>

